html { background: #193968;}
 body{color:rgb(79, 52, 83);
    font-family: verdana;
 }
 header {background-color: rgb(136, 100, 138);}
 section {
     background-color: rgb(188, 195, 233);
     display: flex;
 }
  footer {
      background: rgb(150, 128, 151);}